In [66]:
import pandas as pd

In [67]:
# Extract
csv_data = pd.read_csv("data/retail_dataset.csv")
xlsx_data = pd.read_excel("data/retail_dataset.xlsx")
json_data = pd.read_json("data/retail_dataset.json")

In [68]:
csv_data

    Customer_ID   Age  Gender Product_Category  Purchase_Amount Payment_Method
0           101  22.0    male      Electronics            500.0           Cash
1           102  25.0  Female         clothing            150.0           card
2           103   NaN    Male      Electronics            700.0           Card
3           104  28.0  Female          Grocery              NaN           Cash
4           105  35.0       M         Clothing            200.0           Card
5           106  40.0  Female      Electronics           1200.0         Online
6           107  29.0    male          Grocery             60.0           cash
7           108  31.0  Female         Clothing            180.0         Online
8           109  45.0    Male      Electronics            900.0           Card
9           109  45.0    Male      Electronics            900.0           Card
10          110 -27.0  Female          Grocery             90.0           Cash

In [69]:
json_data

   Customer_ID   Age  Gender Product_Category  Purchase_Amount Payment_Method
0          101  22.0    Male      electronics            500.0           Cash
1          102   NaN  Female         Clothing            150.0           CARD
2          103  30.0    male      Electronics            700.0           Card
3          104  28.0  Female          Grocery              NaN           Cash
4          105  35.0    Male         Clothing            200.0           Card
5          106  40.0  Female      Electronics           5000.0         Online
6          106  40.0  Female      Electronics           5000.0         Online

In [70]:
xlsx_data

   Customer_ID    Age  Gender Product_Category  Purchase_Amount Payment_Method
0          101   22.0    Male      Electronics            500.0           Cash
1          102   25.0  Female         Clothing            150.0           Card
2          103    NaN    male      Electronics            700.0           Card
3          104   28.0  Female          Grocery              NaN           Cash
4          105   35.0    Male         Clothing            200.0           Card
5          106   40.0  FEMALE      Electronics           1200.0         Online
6          107   29.0    Male          Grocery             60.0           Cash
7          108   31.0  Female         Clothing            180.0         Online
8          108   31.0  Female         Clothing            180.0         Online
9          110  270.0  Female          Grocery             90.0           Cash

DATA TRANSFORM

In [71]:
csv_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       11 non-null     int64
 1   Age               10 non-null     float64
 2   Gender            11 non-null     str
 3   Product_Category  11 non-null     str
 4   Purchase_Amount   10 non-null     float64
 5   Payment_Method    11 non-null     str
dtypes: float64(2), int64(1), str(3)
memory usage: 660.0 bytes

In [72]:
xlsx_data

   Customer_ID    Age  Gender Product_Category  Purchase_Amount Payment_Method
0          101   22.0    Male      Electronics            500.0           Cash
1          102   25.0  Female         Clothing            150.0           Card
2          103    NaN    male      Electronics            700.0           Card
3          104   28.0  Female          Grocery              NaN           Cash
4          105   35.0    Male         Clothing            200.0           Card
5          106   40.0  FEMALE      Electronics           1200.0         Online
6          107   29.0    Male          Grocery             60.0           Cash
7          108   31.0  Female         Clothing            180.0         Online
8          108   31.0  Female         Clothing            180.0         Online
9          110  270.0  Female          Grocery             90.0           Cash

In [73]:
json_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       7 non-null      int64
 1   Age               6 non-null      float64
 2   Gender            7 non-null      str
 3   Product_Category  7 non-null      str
 4   Purchase_Amount   6 non-null      float64
 5   Payment_Method    7 non-null      str
dtypes: float64(2), int64(1), str(3)
memory usage: 468.0 bytes

Data Cleaning

In [74]:
def clean_data(df):
    # Handle missing numerical values
    df["Age"] = df["Age"].fillna(df["Age"].mean())
    df["Purchase_Amount"] = df["Purchase_Amount"].fillna(df["Purchase_Amount"].mean())

    # Handle missing categorical values
    df["Gender"] = df["Gender"].fillna(df["Gender"].mode()[0])
    df["Product_Category"] = df["Product_Category"].fillna(df["Product_Category"].mode()[0])
    df["Payment_Method"] = df["Payment_Method"].fillna(df["Payment_Method"].mode()[0])

    # Remove duplicate records
    # df = df.drop_duplicates()

    # Standardize categorical text
    df["Gender"] = df["Gender"].str.capitalize()
    df["Product_Category"] = df["Product_Category"].str.capitalize()
    df["Payment_Method"] = df["Payment_Method"].str.capitalize()

    # Correct data types
    df["Age"] = df["Age"].astype(int)
    df["Purchase_Amount"] = df["Purchase_Amount"].astype(float)

    return df

In [75]:
csv_data

    Customer_ID   Age  Gender Product_Category  Purchase_Amount Payment_Method
0           101  22.0    male      Electronics            500.0           Cash
1           102  25.0  Female         clothing            150.0           card
2           103   NaN    Male      Electronics            700.0           Card
3           104  28.0  Female          Grocery              NaN           Cash
4           105  35.0       M         Clothing            200.0           Card
5           106  40.0  Female      Electronics           1200.0         Online
6           107  29.0    male          Grocery             60.0           cash
7           108  31.0  Female         Clothing            180.0         Online
8           109  45.0    Male      Electronics            900.0           Card
9           109  45.0    Male      Electronics            900.0           Card
10          110 -27.0  Female          Grocery             90.0           Cash